.contmain {
    top: 0;
    background-color: rgba(255, 255, 255, 0.637);
    height: 500px;
    border-radius: 20px;
    padding-top: 30px;
}

.calculadora {
    border-radius: 14px;
    box-shadow: 2px 2px rgb(136, 129, 129);
    background-color: #fff;
    width: 250px;
    height: 355px;
    border: 1px solid rgb(67, 62, 62);
    margin: auto;
    padding: 5px;
}

.calculadora>h3 {
    text-align: center;
    margin: auto;
}

.visor {
    width: 91%;
    margin: 15px 10px;
}

.visor>input {
    width: 100%;
}

.botoes {
    margin: auto;
    width: 91%;
}

.btn-light {
    width: 49.49px;
    border: 1px solid rgb(199, 192, 192);
    margin: 4px 0px;
}

.btn-light:hover {
    background-color: rgb(199, 192, 192);
    border: 1px solid rgb(199, 192, 192);
}