/* body and background modifications 

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background: url('../img/bgpg.png'), linear-gradient(to right, #47555e, #47555e);
    background-attachment: fixed;
}*/


/* stylelint-disable selector-list-comma-newline-after */

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background: url(../img/bgpg.png);
    background-color: #47555e;
    background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    margin-bottom: 10px;
    height: 90px;
}

footer {
    margin-top: 10px;
}

.btn-login {
    margin: 5px 0 5px 15px;
}

.modal-login {
    margin: 15px 5px;
}

.modal-bg {
    background-color: #727272;
}

.capa {
    display: table;
    width: 100%;
    height: 100%;
}

.cont-capa {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
}

.cont-capa,
h1,
p,
a {
    color: #ffff;
    text-decoration: none;
}

.cont-capa>a {
    font-weight: 900;
    -webkit-transition: 0.10s ease-in;
    -moz-transition: 0.10s ease-in;
    -o-transition: 0.10s ease-in;
    transition: 0.10s ease-in;
}

.cont-capa>a:hover {
    font-weight: 900;
    color: #6c757d;
    text-shadow: 2px 2px #000;
    -webkit-transition: 0.10s ease-in;
    -moz-transition: 0.10s ease-in;
    -o-transition: 0.10s ease-in;
    transition: 0.10s ease-in;
}

.img-cont1 {
    width: 350px;
    height: 350px;
    border-radius: 80%;
}

.display-4 {
    font-size: 2.5rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    margin: 0 0 0 15px;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.nav-scroller {
    position: relative;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    flex: 0 0 auto;
}

.h-250 {
    height: 250px;
}

@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}


/* Pagination */

.blog-pagination {
    margin-bottom: 4rem;
}

.blog-pagination>.btn {
    border-radius: 2rem;
}


/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 4rem;
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
}


/*
 * Footer
 */

.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}