* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

body {
    overflow-x: hidden;
    background: url('../img/bgpg.png'), linear-gradient(to top, #47555e, #647681);
    background-attachment: fixed;
}

.navbg {
    background: rgba(209, 201, 201, 0.6);
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    box-shadow: 3px 4px 2px rgb(126, 120, 120);
    border: 1px solid rgb(49, 47, 47);
}

.navbar-light .navbar-nav .nav-link:hover {
    font-size: 16.3px;
    color: rgb(49, 47, 47);
    text-shadow: 2px 2px #dbd5d5;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}